<nav class="navbar navbar-expand-lg navbar-light fixed-top desi " >
  <a class="navbar-brand " href="#" >+923114128859</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav  lg" style="margin-left: 80%;">
      <li class="nav-item">
        <a class="nav-link" href="#">Admin logedin</a>
      </li>
      
   
    </ul>
    
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#6e78f8">
  <a class="navbar-brand " href="#">
    <h2 style="margin-bottom: 0rem;margin-left: 0%; font-family: Bodoni MT Condensed Black;font-weight: 700;" >Academy of Excellence</h2>
    <p style="text-align: center; margin-top: 0rem;">join us <strong>&</strong> feel the difference</p>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/products">show students <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">As Student</a>
          <a class="dropdown-item" href="#">As Admin</a>
          
      </li>
    </ul>
    
  </div>
</nav>