extends ../layout

block content
    form(action="/products/add",method="post")
        .form-group
            label(for="") Course Name
            input#name(type="text" class="form-control" name="cname")
        .form-group
            label(for="") Course ID
            input#adress(type="text" class="form-control" name="cid")
        .form-group
            label(for="") Course duration
            input#class(type="text" class="form-control" name="cd")
        .form-group
            label(for="") Course fee
            input#class(type="text" class="form-control" name="cf")

        input(type="submit",class="btn btn-danger")