extends ../layout

block content
    h1 Edit product
    form(action="/products/edit/"+course._id,method="post")
        .form-group
            label(for="") Course Name
            input#cname(type="text" class="form-control" name="cname",value=course.cname)
        .form-group
            label(for="") Course ID
            input#cid(type="text" class="form-control" name="cid", value=course.cid)
        .form-group
            label(for="") Course Duration
            input#cd(type="text" class="form-control" name="cd", value=course.cd)
        .form-group
            label(for="") Course Fee
            input#cf(type="text" class="form-control" name="cf", value=course.cf)
        input(type="submit",class="btn btn-danger")