extends ../layout

block content
    h1 Edit product
    form(action="/products/edit/"+Product._id,method="post")
        .form-group
            label(for="") Product Name
            input#name(type="text" class="form-control" name="name",value=Product.name)
        .form-group
            label(for="") Product Price
            input#adress(type="text" class="form-control" name="adress", value=Product.adress)
        .form-group
            label(for="") class
            input#class(type="text" class="form-control" name="class", value=Product.class)
        input(type="submit",class="btn btn-danger")